@import "tailwindcss";

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* убираем стандарт */
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: #d1d5db; /* светло-серая */
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: #d1d5db;
  border-radius: 4px;
}